# Ignore all .log files
*.log

# Ignore a specific file
config/settings.json

# Ignore a specific folder
logs/

# Ignore nested folder
temp/cache/

# Ignore all node_modules directories
node_modules/

# Ignore all .DS_Store files
*.DS_Store

# Ignore everything in temp directory except important.txt
temp/*
!temp/important.txt

formeOnly/
data/ 
data/CAF_Sensor_Dataset_2/

data/HS_zip/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebook